---

import Icon from 'astro-icon';

import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';

---

<html lang="en">
	<head>
    <MainHead />
    <style>
      .wrapper {
        max-width: 80em;
        margin: 2rem auto;
        padding: 0 2rem;
      }

      .main-section {
        display: grid;
        grid-template-columns: 2fr 1fr;
      }

      .tagline {
        font-size: var(--f-u3);
      }

      .signup {
        font-size: var(--f-u2);
        padding-top: 30px;
      }

      .form {
        padding-top: 10px;
      }

      .email-field {
        border-radius: 3px;
        border: 1px solid #ccc;
        width: 400px;
        height: 42px;
        padding: 0 20px;
        font-size: var(--f-d1);
        box-sizing: border-box;
      }
      
      .submit-button {
        background: var(--c-blue);
        color: var(--c-white);
        border: 0;
        border-radius: 3px;
        height: 42px;
        width: 130px;
        padding: 0;
        cursor: pointer;
        font-size: var(--f-d2);
        vertical-align: top;
      }

			.section-title {
				font-weight: 700;
				font-size: var(--f-u8);
				margin-top: 4rem;
				margin-bottom: 2rem;
			}

      .organizers {
        display: grid;
        max-width: 800px;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
      }

      .bio-photo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }

      .bio-name {
        font-weight: bold;
				font-size: var(--f-u1);
      }

      .icon {
        margin-right: 10px;
      }

      .logo {
        height: 2rem;
        vertical-align: bottom;
      }

		</style>
	</head>
	<body>
		<Nav />
		<main class="wrapper">
      <section class="main-section">
        
        <div>
          <div class="tagline">
            A <img class="logo" src="/assets/logo-black.svg" alt="comunida.dev" /> é uma comunidade brasileira <b>100% voluntária</b> focada em ajudar pessoas da area de desenvolvimento e gerência de software a evoluir em suas carreiras.
          </div>
        
          <div class="signup">
            Já fechamos a primeira turma de mentorias e estamos preparando muito mais em breve, cadastre-se aqui pra não ficar de fora!
            <form class="form">
              <input class="email-field" type="email" placeholder="E-mail" />
              <button class="submit-button" type="submit">Cadastre-se</button>
            </form>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">Conheça os organizadores</h2>
        <div class="organizers">
          <div>
            <img class="bio-photo" src="/assets/diego.jpg" />
            <p class="bio-name">Diego Ballona</p>
            <p class="bio-text">Escreve sobre gestão de engenharia, engenharia de software e desenvolvimento de produtos. Atualmente trabalhando no Spotify como <i>Senior Engineering Manager</i>, com passagens pelo Toptal e WhatsApp.</p>
            <p>
              <a href="https://dballona.com/pt">
                <Icon name='mdi:globe' class="icon" />
              </a>
              <a href="https://twitter.com/dballona">
                <Icon name='mdi:twitter' class="icon" />
              </a>
              <a href="https://www.linkedin.com/in/dballona/">
                <Icon name='mdi:linkedin' class="icon" />
              </a>
            </p>
          </div>

          <div>
            <img class="bio-photo" src="/assets/tadeu.jpg" />
            <p class="bio-name">Tadeu Zagallo</p>
            <p class="bio-text">Desenvolvedor de software apaixanado por linguagens de programação e <i>developer experience</i>. Atualmente trabalhando como <i>Principal Engineer</i> na Klarna, com passagens pela Apple, Uber e Facebook.</p>
            <p>
              <a href="https://tadeuzagallo.com/blog/pt/">
                <Icon name='mdi:globe' class="icon" />
              </a>
              <a href="https://twitter.com/tadeuzagallo">
                <Icon name='mdi:twitter' class="icon" />
              </a>
              <a href="https://www.linkedin.com/in/tadeuzagallo/">
                <Icon name='mdi:linkedin' class="icon" />
              </a>
            </p>
          </div>
        </div>
      </section>
		</main>
	</body>
</html>
