---

import Icon from 'astro-icon';

import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import MailchimpSignup from '../components/MailchimpSignup.astro';

import GoogleTagManagerHead from '../components/GoogleTagManager/Head.astro';
import GoogleTagManagerBody from '../components/GoogleTagManager/Body.astro';

const {
  googleTagManagerId = 'GTM-W93Q3BD',
  inProduction = import.meta.env.PROD
} = Astro.props;

---
<html lang="pt">
	<head>
    <MainHead />
    {inProduction && <GoogleTagManagerHead id={googleTagManagerId} />}

    <style>
      .wrapper {
        max-width: 960px;
        margin: 2rem auto;
        padding: 0 2rem;
      }

      .main-section {
        display: grid;
        /* grid-template-columns: 2fr 1fr; */
      }

      .tagline {
        font-size: var(--f-u3);
      }

			.section-title {
				font-weight: 700;
				font-size: var(--f-u8);
				margin: 2rem 0;
			}

      .organizers {
        display: grid;
        max-width: 800px;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
      }

      .bio-photo {
        width: 200px;
        border-radius: 50%;
      }

      .bio-name {
        font-weight: bold;
				font-size: var(--f-u1);
      }

      .icon {
        margin-right: 10px;
      }

      .logo {
        height: 2rem;
        vertical-align: bottom;
      }


      @media (max-width: 600px) {
        .main-section {
          grid-template-columns: 1fr;
        }

        .organizers {
          grid-template-columns: 1fr;
        }

        .bio-photo {
          display: block;
          margin: 0 auto;
        }

        .bio-name, .social-links {
          text-align: center;
        }

        .bio + .bio {
          margin-top: 30px;
        }
      }
		</style>
	</head>
	<body>
    {inProduction && <GoogleTagManagerBody id={googleTagManagerId} />}
    <Nav />
		<main class="wrapper">
      <section class="main-section">
        <div>
          <div class="tagline">
            A <img class="logo" src="/assets/logo-black.svg" alt="comunida.dev" /> é uma comunidade brasileira <b>100% voluntária</b> focada em ajudar pessoas da area de desenvolvimento e gerência de software a evoluir em suas carreiras.
          </div>
          <MailchimpSignup/>
        </div>
      </section>

      <section>
        <h2 class="section-title">Conheça os organizadores</h2>
        <div class="organizers">
          <div class="bio">
            <img class="bio-photo" src="/assets/diego.jpg" />
            <p class="bio-name">Diego Ballona</p>
            <p class="bio-text">Gerente de engenharia com passagens pelo Toptal e Facebook. Atualmente trabalhando no Spotify como <i>Senior Engineering Manager</i>. Escreve sobre gestão de engenharia e engenharia de software.</p>
            <p class="social-links">
              <a href="https://dballona.com/pt">
                <Icon name='mdi:globe' class="icon" />
              </a>
              <a href="https://twitter.com/dballona">
                <Icon name='mdi:twitter' class="icon" />
              </a>
              <a href="https://www.linkedin.com/in/dballona/">
                <Icon name='mdi:linkedin' class="icon" />
              </a>
            </p>
          </div>

          <div class="bio">
            <img class="bio-photo" src="/assets/tadeu.jpg" />
            <p class="bio-name">Tadeu Zagallo</p>
            <p class="bio-text">Desenvolvedor de software apaixanado por linguagens de programação e <i>developer experience</i>. Atualmente trabalhando como <i>Principal Engineer</i> na Klarna, com passagens pela Apple, Uber e Facebook.</p>
            <p class="social-links">
              <a href="https://tadeuzagallo.com/blog/pt/">
                <Icon name='mdi:globe' class="icon" />
              </a>
              <a href="https://twitter.com/tadeuzagallo">
                <Icon name='mdi:twitter' class="icon" />
              </a>
              <a href="https://www.linkedin.com/in/tadeuzagallo/">
                <Icon name='mdi:linkedin' class="icon" />
              </a>
            </p>
          </div>
        </div>
      </section>
		</main>
	</body>
</html>
