---

import Page from '../layouts/Page.astro';

---

<style>
p, li {
  font-size: var(--f-u1);
}

.section-title {
  font-size: var(--f-u8);
}

.section-title-sm {
  font-size: var(--f-u6);
}
</style>

<Page title="Mentoria @ Comunida.dev" description="Vagas de mentoria 100% gratuitas">
  <section>
    <h2 class="section-title">Mentoria Comunida.dev</h2>
    <p>
  O modelo de mentoria segue evoluindo, para facilitar que tenhamos mais pessoas mentorando, e consequentemente que mais pessoas tenham acesso as metorias. Estamos testando um modelo de mentoria que usa a nova funcionalidade de discussões no <a href="https://github.com/comunidadev/comunida.dev/discussions/categories/mentoria" target="_blank" rel="noopener">repositório do GitHub da Comunida.dev</a>.
    </p>
    <p>
  Como sempre, todo feedback é bem vindo! Entre em contato com a pelo <a href="https://twitter.com/_comunidadev" target="_blank" rel="noopener">Twitter</a> ou por <a href="mailto:contato@comunida.dev" target="_blank" rel="noopener">email</a>.
    </p>
  </section>

  <section id="tips">
    <h2 class="section-title-sm">Algumas dicas para aproveitar ao máximo a sua mentoria</h2>
    <ul>
      <li>Prepare algumas perguntas ou assuntos que você gostaria de discutir durante a mentoria</li>
      <li>Tire uns minutos para dar uma olhada no perfil da pessoa mentora antes da mentoria e pense como ela pode te ajudar</li>
      <li>Lembre-se que a pauta para a mentoria é responsabilidade da pessoa mentorada.</li>
    </ul>
  </section>

  <section id="mentors">
    <!-- TODO -->
  </section>
</Page>
