---

import Page from '../layouts/Page.astro';

---

<Page>
  <h1>Mentoria com Tadeu Zagallo</h1>
  <p>Fala pessoal, conforme prometido estão abertas as inscrições para a primeira turma de mentorias comigo através da comunidade. Porém, queria deixar um aviso: essa é minha primeira vez oferecendo uma mentoria mais "formal", e apesar de ter me preparado, gostaria de pedir as pessoas que quiserem participar que estejam dispostas a evoluir comigo, e que eu possa contar com seu feedback durante o processo.</p>

  <h2>Perfil</h2>
  <p>Pessoas desenvolvedoras júnior, pleno ou sênior.</p>

  <h2>Sobre mim</h1>
  <p>
    Entrei na área de desenvolvimento há aproximadamente 12 anos. Durante os primeiros 5 anos trabalhei em pequenas agências no Brasil. Em 2015 saí para trabalhar como desenvolvedor pleno no Facebook, depois fui desenvolvedor sênior no Uber e na Apple e atualmente trabalho como <i>principal engineer</i> na Klarna.
  </p>
  <p>
    Tópicos e tecnologias que eu tenho familiaridade/posso ajudar:
  </p>
  <ul>
    <li>Progressão de carreira;</li>
    <li>Carreira internacional / grandes empresas;</li>
    <li>Design e implementação de linguagens de programação;</li>
    <li>Performance de aplicações web e nativas;</li>
    <li>Linguagens que tenho maior familiaridade: C++, JavaScript, Haskell e OCaml.</li>
  </ul>

  <h2>Formato</h2>
  <ul>
    <li>1x sessão de 1h introdutória para entender seus objetivos com a mentoria;</li>
    <li>3x sessões de 1h, 1x por mês. Pauta proposta pela pessoa mentorada;</li>
    <li>Suporte assíncrono via chat e/ou email durante toda a duração da mentoria;</li>
    <li>Duração: 3 meses;</li>
    <li>100% gratuito.</li>
  </ul>

  <h2>Datas</h2>
  <p>Inscrições abertas até o final do dia 06/02/2022. Selecionarei 4 pessoas para o primeiro trimestre do ano e entrarei em contato com mais informações até dia 13/02/2022.</p>

  <h2>Se interessou?</h2>
  <p><a href="https://docs.google.com/forms/d/e/1FAIpQLScjRL_gAKs_SXmqIcSDGRsKHlKebnJ9tFCZDOeJ3-PCWfPpGg/viewform" rel="noopener">Faça sua inscrição aqui</a></p>
</Page>
