---

import MailchimpSignup from '../components/MailchimpSignup.astro';

---

<style>
.tagline {
  font-size: var(--f-u3);
}

.logo {
  height: 2rem;
  vertical-align: bottom;
}
</style>

<section>
  <div>
    <div class="tagline">
      A
      <svg role="img" class="logo" width="200" height="32" viewBox="0 0 780 124">
        <title>comunida.dev</title>
        <use xlink:href="#logo" />
      </svg>
      é uma comunidade brasileira <b>100% voluntária</b> focada em ajudar pessoas da area de desenvolvimento e gerência de software a evoluir em suas carreiras.
    </div>
    <MailchimpSignup/>
  </div>
</section>
