<style type="text/css">
  .mailchimp-signup {
    width: calc(100% - (var(--m-1) * 2));
    padding: var(--m-1) var(--m-1) calc(var(--m-1) * 1.5);
    margin-top: var(--m-1);
    background: var(--c-gray);
  }

  .mailchimp-signup form input[type=email] {
    width: calc(100% - 120px - 34px);
    display: inline-block;
  }

  .mailchimp-signup form input[type=submit] {
    width: 120px;
    display: inline-block;
  }
</style>

<!-- Begin Mailchimp Signup Form -->
<div class="mailchimp-signup">
  <form action="https://dev.us20.list-manage.com/subscribe/post?u=245072bca5ca1d9b299eb5fe7&amp;id=b3cfa3b224" method="post" name="mc-embedded-subscribe-form" target="_blank">
    <label for="mce-EMAIL">Email<span class="asterisk">*</span></label><br/>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required />
    <input type="submit" value="Cadastrar" name="subscribe" id="mc-embedded-subscribe" class="button" />

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_245072bca5ca1d9b299eb5fe7_b3cfa3b224" tabindex="-1" value=""></div>
  </form>
</div>
<!--End mc_embed_signup-->
