---

const {
  title = 'Comunida.dev',
  description = 'A comunida.dev é uma comunidade brasileira 100% voluntária focada em ajudar pessoas da area de desenvolvimento e gerência de software a evoluir em suas carreiras.'
} = Astro.props;

---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@_comunidadev">
<meta name="twitter:title" content="Comunida.dev">
<meta name="twitter:description" content="A comunida.dev é uma comunidade brasileira 100% voluntária focada em ajudar pessoas da area de desenvolvimento e gerência de software a evoluir em suas carreiras.">
<meta name="twitter:image" content="https://comunida.dev/assets/twitter-banner.jpg">

<link rel="icon" type="image/png" href="/assets/favicon.png" />

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 

<style global>
@import "../styles/global.css";
</style>
