---



---

<style>
section {
  font-size: var(--f-u1);
}
</style>

<section id="mentoria">
  <h2 class="section-title">Mentoria @ Comunida.dev</h2>
  <p>
    Estão abertas as inscrições para primeira turma de mentoria com o Tadeu.
    <a href="/mentoria">Clique aqui para saber mais ou se inscrever.</a>
  </p>
</section>
