---

import Icon from 'astro-icon';

---

<style>
.nav {
	display: flex;
	align-items: center;
  padding: 1rem 2rem;
  background-color: var(--t-bg);
}

.logo {
  width: 300px;
  vertical-align: middle;
}

.social {
	display: block;
	margin-left: auto;

}

.social + .social {
  margin-left: 1.25rem;
}

@media (max-width: 600px) {
  .nav {
    padding: 1rem;
  }

  .logo {
    width: 200px;
  }

  .social + .social {
    margin-left: 0.5rem;
  }
}

@media (max-width: 600px) {
  .nav {
    padding: 1rem 0.5rem;
  }

  .logo {
    width: 180px;
  }

  .social + .social {
    margin-left: 0.25rem;
  }
}

</style>

<nav class="nav">
  <a href="/">
    <img class="logo" src="/assets/logo-white.svg" alt="comunida.dev" width=300 height=48 />
  </a>

  <a class="social" href="https://www.youtube.com/channel/UC706xZkWHE38HnuhcqCsb5g" aria-label="Canal da Comunida.dev no YouTube" target="_blank">
    <Icon name="mdi:youtube" class="icon" />
  </a>

  <a class="social" href="https://twitter.com/_comunidadev" aria-label="Comunida.dev no Twitter" target="_blank">
    <Icon name="mdi:twitter" class="icon" alt="Twitter" />
  </a>

  <a class="social" href="https://github.com/comunidadev" aria-label="GitHub da Comunida.dev" target="_blank">
    <Icon name="mdi:github" class="icon" alt="GitHub" />
  </a>
</nav>
