---

import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Logo from '../components/Logo.astro';

import GoogleTagManagerHead from '../components/GoogleTagManager/Head.astro';
import GoogleTagManagerBody from '../components/GoogleTagManager/Body.astro';

const googleTagManagerId = 'GTM-W93Q3BD';
const inProduction = import.meta.env.PROD;

const { title, description } = Astro.props;

---

<html lang="pt">
  <head>
    <MainHead {title} {description} />
    {inProduction && <GoogleTagManagerHead id={googleTagManagerId} />}

    <style>
      .wrapper {
        max-width: 960px;
        margin: 2rem auto;
        padding: 0 2rem;
      }
    </style>
  </head>
  <body>
    {inProduction && <GoogleTagManagerBody id={googleTagManagerId} />}
    <Nav />

    <main class="wrapper">
      <slot />
    </main>

    <Logo />
  </body>
</html>
